body {
    font-family: 'Public Sans', sans-serif;
}

.galeria {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../imagens/plano-de-fundo3.jpg) no-repeat center;
    background-size: cover;
}

.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.pinturas .pintura {
    width: 335px;
    height: 432px;
    position: relative;
}

.pinturas .pintura img{
    width: 100%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform 1s ease;
}

.pinturas .pintura img:hover {
    border: 10px solid rgba(128, 98, 0, 0.9);
    cursor: pointer;
    box-shadow: 3px 3px 7px rgba(248, 85, 10, 0.7);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pinturas .pintura .informacoes {
    position: absolute;
    color: #ffffff;
    bottom: 40px;
    left: 20px;
}   

.pinturas .pintura .informacoes .titulo {
    font-size: 30px;
    margin-bottom: 7px;
}

.pinturas .pintura .informacoes .subtitulo {
    font-weight: 300;
    font-size: 17px;
}